
<div id='flexbox'>
<div id="spells">
<div class='spellEffects'>
<h1 > Hello World</h1>
</div>
<div class='spellEffects'>
<p> Today is Tuesday </p>
</div>
<div class='spellEffects'>
<%= link_to 'stephen','/stephen' %>
</div>
<div class='spellEffects'>
<%= link_to 'geovanna','/geovanna' %>
</div>
</div>
</div>